.form-register-1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-register-1 .content-title-barr {
	width:80px;
	height:4px;
	border-radius:5px;
	background:#C80935;
	display:block;
	margin:auto;
	margin-bottom:24px;
}

.form-register-1  .content-input-radio{
    display: flex;
    align-items: center;
    
}

.form-register-1 .content-title-notif{
    background-color: #F1F1F1; 
    border-radius: 54px; 
    border: 1px solid #E2E2E2;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
    
}
.form-register-1 .content-title-notif-text{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color:#8A8A8A;
    text-align: center;
	margin:0;
	padding:11px 0;
}

.form-register-1 .content-title{
    font-size: 32px;
    font-family: "Poppins", Sans-serif;
    font-weight: 700;
    color:#42484E;
    margin-bottom: 8px;
    margin-top: 8px;
}
.form-register-1 .content-title-2{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color:#8A8A8A;
    margin-bottom: 8px;
    margin-top: 8px;
}



.form-register-1 .content-title-account {
    font-size: 24px;
    font-family: "Poppins", Sans-serif;
    font-weight: 700;
    color:#42484E;
    margin-bottom: 16px;
}

.form-register-1 .content-input{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
	text-align:center;

}
.form-register-1 .content-inputs{
    display: flex;
    margin-bottom: 16px;
	text-align:center;
	width:100%;
	
}

.form-register-1 .content-input-radio{
    display: flex;
	padding: 0 16px ;
    
}
.form-register-1 .content-input-radio-label{
    color:#42484e;
	font-family:"Roboto", Sans-serif;
	font-weight:700;
	font-size:18px;
	padding-left:8px;
    
}

.form-register-1 .content-button-init{
	color:#8A8A8A;
	font-family:"Roboto", Sans-serif;
	font-weight:700;
	font-size:14px;
	border: 1px solid #C2C2C2 ;
	padding : 11px 0px;
	width:364px;
	background:white;
	border-radius:5px;
	
}

.form-register-1 .content-input-form{
	padding: 0 8px ;
	width:100%;
}
.form-register-1 .content-input-forms{
	padding: 0 8px ;
	width:100%;
	text-align:initial;
	
}
.form-register-1 .content-input-checkbox-text-link{
	text-decoration:underline;
	color:#8A8A8A;
	font-weight:700;
}

.form-register-1 .content-input-form-1{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color:#8A8A8A;
    margin-bottom: 8px;

}

.form-register-1 .content-input-form-2{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color:#8A8A8A;
    border-color: #c2c2c2;
    border-radius: 5px;
    border: 1px solid;
    width: 272px;
	outline:none;
	
}

.form-register-1.form-register-1 .content-input-form-3{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color:#8A8A8A;
    border-color: #c2c2c2;
    border-radius: 5px;
    border: 1px solid;
    width: 272px;
	outline:none;
	width:100%;
	padding: 12px 15px;
	
}
.form-register-1 .content-title-notif{
	display:flex;
	align-items:center;
	margin:auto;
	width:80%;
}


.form-register-1 .content-title-notif-img{
	width:18px;
	height:18px;
	margin-right:16px;
}

.form-register-1 .content-input-form-1{
	display:block;
	text-align:initial;
}


.form-register-1 .content-input-checkbox-sel{
	margin-right:7px;
}


.form-register-1 .content-input-checkbox{
    display: flex;
	align-items:center;
    margin-bottom: 24px;
	justify-content:center;

}

.form-register-1 .content-input-checkbox-text{
    font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color:#8A8A8A;
    margin-bottom: 8px;
	margin:0;


}


.form-register-1  .content-button{
    justify-content:center;
	display:flex;
    margin-bottom: 8px;
    padding: 11px;


}
.form-register-1  .content-button-2{
    justify-content:center;
	display:flex;
    

}
.form-register-1  .content-button-step{
    width:  364px ;
    background:#C80935;
    border-radius: 5px;
    border-style: solid;
    border: 0;
	font-size: 14px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color:#FFFFFF;
	padding:11px;
	cursor:pointer;

}

.step:not(.active){
    display: none;
}

.form-i:not(.active){
    display: none;
}

.form-register-1 .error {
    border-color: #C80935;
}


.form-register-1 .content-button-init{
	cursor:pointer;
}



@media(max-width: 575px) {
 .form-register-1 .content-input{
    display: block;
	 text-align:initial;
  }
}

@media(max-width: 575px) {
    .form-register-1 .list{
       display: flex;
     }
   }


.form-register-1  .error{
    font-family: "Roboto";
    font-size: 24px;
    background: #C80935;
    width: 24%;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}





